# Keycloak Configuration
VITE_KEYCLOAK_ISSUER=http://localhost:8080/realms/ds-2025-realm
VITE_KEYCLOAK_CLIENT_ID=grupo-11

# API Gateway Configuration
VITE_API_GATEWAY_URL=http://localhost:8000
VITE_API_BASE=http://localhost:8081

